<!DOCTYPE html>
<html>
    <head>
        <title id="title">@ViewBag.Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="styleguide/css/styleguide.css" media="all" />
        @RenderSection("Head", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>