<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PatternLabStyleguide" path="styleguide/*" verb="*"
                type="System.Web.StaticFileHandler" />
            <add name="PatternLabPatterns" path="patterns/*/*.html" verb="*"
                type="System.Web.StaticFileHandler" />
        </handlers>
    </system.webServer>
</configuration>