<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">59 Comments</h2>
		@Include("molecules-comment-form")
		<ul class="comment-list">
			@foreach (var listItem in ListItems("five")){
				@Include("molecules-single-comment", listItem)
			}
		</ul>
	</div>
	@Include("molecules-pagination")
</section>