<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="@Link("templates-homepage")">Home</a></li>
		<li><a href="@Model.url">About</a></li>
		<li><a href="@Link("templates-blog")">Blog</a></li>
		<li><a href="@Model.url">Contact</a></li>
	</ul>
</nav><!--end .nav-->
