<div class="social-share">
	<ul class="social-share-list">
		<li><a href="@Model.url">Like</a></li>
		<li><a href="@Model.url">Tweet</a></li>
		<li><a href="@Model.url">Email</a></li>
		<li><a href="@Model.url">Comment</a></li>
	</ul>
</div>