@model IEnumerable<PatternLab.Areas.Styleguide.Models.Pattern>

<!--Patterns-->
<div id="patterns">
    @foreach (var pattern in Model)
    {
        <div class="sg-pattern">
            <h2 class="sg-head sg-sub"><a href="@Url.Action("Pattern", "Html", new { area = "", id = pattern.Id })" class="patternLink" data-patternpartial="@pattern.Id">@pattern.Name</a></h2>
            @Html.Partial(pattern.Url)
        </div>
    }
</div> <!--end #patterns-->